.tip,
.warning,
.danger
  padding 1rem 1.5rem
  border-left-width .5rem
  border-left-style solid
  margin 1rem 0
  .title
    font-weight bold
.tip
  background-color #f3f5f7
  border-color #42b983
  @media (prefers-color-scheme: dark)
    background-color #3e3b3b
.warning
  background-color rgba(255,229,100,.3)
  border-color darken(#ffe564, 35%)
  color darken(#ffe564, 70%)
  @media (prefers-color-scheme: dark)
    background-color rgba(185, 174, 119, 0.3)
  .title
    color darken(#ffe564, 50%)
.danger
  background-color #ffe6e6
  border-color darken(red, 20%)
  color darken(red, 70%)
  @media (prefers-color-scheme: dark)
    background-color rgba(255, 214, 214, 0.3)
  .title
    color darken(red, 40%)
.right
  p
    color transparentify($textColor, 0.5)
    font-size 0.9rem
    text-align right
    @media (prefers-color-scheme: dark)
      color transparentify(#fff, 0.5)

/* 吹き出し*/
/*以下、②左側のコメント*/
.bubble9 
  width 100%
  margin 1.5em 0
  overflow hidden

.bubble9
  .imgs 
    float left
    margin-right -90px
    width 75px

.bubble9 
  .imgs img
    position relative
    top 10px
    width 95%
    height auto
    border solid 3px #1976D2
    border-radius 50%

.bubble9
  .chat 
    width 95%

.ss 
  margin 16px
  position relative
  padding 10px
  border-radius 10px
  color #000000
  background-color #BBDEFB
  margin-left 90px

.ss
  :after 
    content ""
    display inline-block
    position absolute
    top 20px 
    left -24px
    border 12px solid transparent
    border-right 12px solid #BBDEFB

.ss p 
  margin 16
  padding 10

/*目次に太いライン*/
.table-of-contents
    position relative
    margin 0
    padding 1em 1.2em 1em
    background #fff
    font-size 100%
    border-top solid 40px #5eb58e
    border-right solid 3px #5eb58e
    border-bottom solid 3px #5eb58e
    border-left solid 3px #5eb58e
    border-radius 4px

.table-of-contents::before
    content "目次"
    position absolute
    top -33px
    left 20px
    margin 0 0 .8rem
    padding 0 0 .4rem
    color #fff
    border none
    font-size 120%

.table-of-contents li
    margin .2em 0 1em 1em
    list-style-type decimal
    line-height 1.6em

.table-of-contents li ul
    margin 0 0 1em .5em
    padding 0

.table-of-contents li ul li
    margin .2em 0 0 1em
    list-style-type disc

.table-of-contents li ul li ul li
    list-style-type circle

.table-of-contents li a
    line-height 1.6em

.table-of-contents a
    color #454545
    text-decoration underline

/*番号を自動でふる*/
body {
    counter-reset: chapter;
}

h2 {
  counter-reset: section;
}

h2::before {
  counter-increment: chapter;
  content: counter(chapter) ". ";
}

@media print
  .tip, .warning, .danger
    background-color transparent
